{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Action</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in table %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item['action'] }}</td>
          <td>{{ item['date'] }}</td>
          <td>{{ item['time'] }}</td>
          <td>{{ item['symbol'] }}</td>
          <td>{{ item['amount'] }}</td>
          <td>{{ usd(item['price']) }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
