{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Own</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in table %}
        <tr>
          <td>{{ item['symbol'] }}</td>
          <td>{{ item['amount'] }}</td>
          <td>{{ usd(item['price']) }}</td>
          <td>{{ usd(item['amount']*item['price']) }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Cash balance:</th>
          <td> </td>
          <td> </td>
          <th>{{ usd(info['cash'])}}</th>
        </tr>
        <tr>
          <th>Grand Total:</th>
          <td> </td>
          <td> </td>
          <th>{{ usd(info['cash']+total)}}</th>
        </tr>

  </tbody>
</table>

{% endblock %}
