[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
clearbit = "*"
pyhunter = "*"

[dev-packages]

[requires]
python_version = "3.7"
